<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
</style>


<div class="footer">
      <p class="w3-tiny">
			Source code on <a href="https://github.com/Vitthals" target="_blank">Github</a>
		</p>

  </nav>
</div>





