<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  {{!-- https://github.com/VitthalS/ivna --}}
}
</style>
<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />


<div class="footer">
      <p class="w3-tiny">
			Developed with <i class="icon ion-heart" style="color: #e25555;"></i> by <a href="https://twitter.com/0_1vitthals" target="_blank">0_1Vitthals</a>, Source code on <a href="https://github.com/Vitthals/ivna" target="_blank">Github</a>
		</p>

  </nav>
</div>





