{{!-- 
<header>
    <h1>{{title}}</h1>>
    <a href="/">Task-Manager</a> 
    <a href="/login">Login</a> 
    <a href="/signup">Signup</a> 


</header> --}}

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="dashboard">Task-Manager</a>
    <a class="navbar-brand" href="settings">Profile</a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <div class="w3-bar w3-theme" id="nav-bar">
		<a class="w3-button w3-bar-item w3-theme-d1 w3-right" id="btn-logout">Logout</a>
	</div>
    {{!-- <a class="navbar-brand" href="logout">Logout</a> --}}
</nav>
<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Task-Manager</title>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
{{!-- https://github.com/VitthalS/ivna --}}